<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495916936291-0voi8sei01beoe9mm9f3qtrmsve7tvep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495916936291-0voi8sei01beoe9mm9f3qtrmsve7tvep</string>
	<key>API_KEY</key>
	<string>AIzaSyC8hRbft_46QKssnAZWGdKpz9WkLbR_zsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>495916936291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hardcastle.mmc</string>
	<key>PROJECT_ID</key>
	<string>mmcapp-927c0</string>
	<key>STORAGE_BUCKET</key>
	<string>mmcapp-927c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495916936291:ios:c06b105f9f18146aa5dc56</string>
</dict>
</plist>